* {
  margin: 0;
  padding: 0;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
}

section {
  display: grid;
  grid-template-columns: repeat(3, minmax(435px, 470px)); 
  margin: 0 auto;
  width: fit-content;
  gap: 2vw;

  justify-content: space-between;
  margin-bottom: 30px;
}

@media (max-width: 1366px) {
  section {
    grid-template-columns: repeat(2, minmax(435px, 470px));
  }
}

@media (max-width: 900px) {
  section {
    grid-template-columns: repeat(1, minmax(435px, 470px));
    gap: 2.5vh;
  }
}

@media (max-width: 450px) {
  section {
    grid-template-columns: 95%;
    place-content: center;
    gap: 2vh;
  }

  .text-container {
    padding: 0 !important;
    margin: 0;
  }
}

article {
  width: 100%;
  border-radius: 8px;
  display: flex;
}

h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 55px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #1B264F;
  margin-bottom: 40px;
}

h1 span {
  color: #506BCA;
}

h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #353844;
  margin-bottom: 12px;
}

.images-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 3px;
}

.images-container img {
  height: auto;
}

.text-container {
  background-color: white;
  padding: 30px 50px;
}

.text-container ul {
  margin-bottom: 12px;
  padding-left: 20px;
}

.text-container ul li{
  color: #D2AD81;
  line-height: 26px;
}

.text-container ul li span{
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #353844;
}

.text-container p {
  font-family: nunito-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #353844;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0px 58px;
  width: 315px;
  height: 60px;
  background: #1B264F;
  color: white;
  border-radius: 12px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 60px;
  text-align: center;
}